.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  background: #fff;
}

.feedback-form label {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  width: 95px;
  border: none;
  font: inherit;
  cursor: pointer;
  border-radius: 8px;
  background: #4e75ff;
  color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button:hover {
  background-color: rgba(108, 140, 255, 1);
}

input,
textarea {
  padding: 8px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #808080;
}

textarea {
  resize: none;
}
